.rank {
  display: flex;
  justify-content: center;
  align-content: center;
}
.imagelinktext {
    display:'flex';
    flex-grow:3;
}
.imagelinkform {
    display:'flex'; 
    flex-wrap:'wrap';
}
.imagelinkbutton {
    display:'flex';
     flex-grow:'1';
}
.particels {
    position:fixed;
    top: 0;
    left:0;
    right: 0;
    bottom: 0;
    z-index: -1;
}